body {
    background-image: url('/goodeatslogoagain.jpg');
    background-attachment: fixed;
}

.card-container {
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    margin: auto;
    padding-top: 300px;
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: slategrey;
    text-align: center;
    width: 300px;
}

.card-content {
    margin: .5px;
    padding: 10px;
    border: radius;
    font-size: 20px;
    color: #f5f5f5;
}
.card-image {
    border: radius;
}
.lead {
    color: darkslategrey;
}
.jumbotron {
    margin: auto;
    padding: 20px 25px;
    text-align: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
}

.header {
    display: flex;
    background-color: lightslategrey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin: bottom;
    padding: 0.5px;
    text-align: center;
    text-decoration-color: azure;
    justify-content: center;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.modal-overlay.open {
    display: none;
}

.modal-content {
    background-color: #efefefdb;
    border-radius: 6px;
    margin: auto;
    max-width: 300px;
    padding: 15px;
    position: relative;
    z-index: 10000;
    text-align: center;
}
.restaurant-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.close-modal-x {
    position: absolute;
    bottom: 5px;
    background-color: lightslategray;
    color: black;
    padding: 10px 20px;
    border: 5px solid black;
}

.container {
    background-color:lightslategray;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 30px 50px;
    border: 5px solid black;
}

.restaurant-overlay.open {
    display: flex;
}
.container bg-img {
    background-color: rgb(7, 108, 133);
}